@charset "UTF-8";

*{
    font-family: Rubik;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#headerText{
    color: #11175E;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 10% 5%
}

#createTaskForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0px 5%;
    margin-bottom: 10%;
}

input{
    color: #B1BACB;
    font-weight: 400;
    height: 2.8rem;
    border: 1px solid #EEEEEE;
    padding-left: 0.8rem;
    border-radius: 0.4rem;
    outline: none;
    &:focus{
        border: 1px solid #383838;
    }
}

#addTaskButton{
    height: 2.8rem;
    width: 100%;
    background-color: #2D70FD;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    &:active{
        background-color: #1e459ba9;
    }
}

#taskListDiv{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & > ul > li{
        border: 1px solid #EEEEEE;
        border-radius: 0.4rem;
        padding: 5%;
        list-style-type: none;
        margin-bottom: 1rem;
    }
}